:root {
    --primary: #932d34;
    --secondary: #95989A;
    --text-color: #FFFFFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
    --background-input: #BD5C5C;
    --background-vantagens: #2B2B2B;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--text-tertiary);
}

.titulo-footer {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: var(--text-color);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contatos a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}
.info-contatos i {
    margin-right: 10px;
    color: var(--background-vantagens);
}

.redes-sociais {
    display: flex;
    gap: .5rem;
}

.redes-sociais i {
    margin-top: 2rem;
    font-size: 30px;
    color: var(--background-vantagens);
    background-color: var(--primary);
    padding: .8rem;
    border-radius: 50%;
}

.form-footer form {
    display: flex;
    flex-direction: column;
    background-color: var(--text-color);
    width: 30em;
    padding: 2rem;
    gap: 18px;
    border-radius: 10px;
    margin-top: 15px;
}

.form-footer input {
    width: 100%;
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 10px;
}

.form-footer textarea {
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 10px;
}

.btn-form-footer {
    background-color: var(--primary);
    color: var(--text-color);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

@media (max-width: 810px) {
    .footer {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        text-align: center;
    }
}

@media (max-width: 582px) {
    .form-footer form {
        width: 20em;
    }
}